.container {
  @apply flex flex-col text-center dark:bg-neutral-600 lg:text-left;
}

.menuContainer {
  @apply container w-1/2 p-6 text-neutral-800 dark:text-neutral-200;
}

.menuSection {
  @apply grid gap-x-24 lg:grid-cols-3;
}

.listContainer {
  @apply mb-6 md:mb-0;
}

.menuTitle {
  @apply mb-2 font-semibold text-fontPrimary;
}

.menuList {
  @apply font-normal text-fontPrimary;
}

.ul {
  @apply list-none space-y-3;
}

.socmedContainer {
  @apply w-full px-10 py-6  flex flex-row justify-between;
}

.socmedUl {
  @apply list-none flex flex-row space-x-3;
}

.copyrightText {
  @apply text-neutral-700;
}
