.container {
  @apply py-12;
}

.titleText {
  @apply text-5xl text-content mt-10;
}

.publishDateContainer {
  @apply flex flex-row my-10;
}

.publishDate {
  @apply text-lg text-grayscale  mr-2;
}

.image {
  @apply w-full h-[511px] relative bg-red-500;
}

.contentContainer {
  @apply my-10;
}

.content {
  @apply text-lg text-content my-10;
}

.similarText {
  @apply text-4xl text-content mt-14 mb-5;
}
