.container {
  @apply my-12;
}

.titlePageContainer {
  @apply justify-between w-full flex flex-row mb-16;
}

.titlePageText {
  @apply font-bold text-5xl text-primary;
}

.searchContainer {
  @apply w-96 h-10 items-center rounded-lg;
}
