@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

select {
  -webkit-appearance: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  bottom: 0;
  background-color: rgb(33, 33, 34, 0.5);
  backdrop-filter: blur(5px);
}

.text-primary {
  color: #ff3950;
}

.bg-primary {
  background-color: #ff3950;
}

.background-image {
  height: 450px;
  background-size: cover !important;
  width: 20%;
  transition: 2s;
  margin-left: 0%;
}

.text-success60 {
  color: #4f9609;
}

.code-input {
  display: flex;
  flex-direction: column;
}
.code-label {
  margin-bottom: 16px;
}
.code-inputs {
  display: flex;
  align-items: center;
}
.code-inputs input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: center;
  border-radius: 10px;
  margin: 0 4px;
  border: 2px solid #ced2d7;
}
.code-inputs input:focus {
  outline: none;
}
