.articleTitle {
  @apply font-semibold text-xl text-content mt-3 w-3/4 line-clamp-2;
}

.articleDescription {
  @apply my-3 text-ellipsis line-clamp-3;
}

.buttonReadmore {
  @apply text-primary cursor-pointer;
}
